<div class="container text-center"><h1>What do you wanna do?</h1></div>

<div id="map" style="width: 100%; height: 300px;"></div>

<div class="container">
  <div class="row">

    <!-- cards for displaying events -->

    <% @events.each do |event| %>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-category"><%= event.name %></div>
        <div class="card-description">
          <p><%= event.desc %></p>
        </div>
        <img class="card-user avatar" src="<%= event.user.photo %>">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <% end %>

  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
