<!DOCTYPE HTML>
<html>
<head>
  <%= stylesheet_link_tag 'base' %>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <%= javascript_include_tag "signup" %>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>

<head>
	<%= stylesheet_link_tag 'base' %>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>
<h1 class="pagetitle">Create an event!</h1>




<div class="container text-center">
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 middlecolumn" >


  <%= simple_form_for @event do |f| %>
    <%= f.input :name %>
    <%= f.input :desc %>
    <%= f.input :address %>
    <%= f.input :start_time %> <!-- took out :class => "datetimepicker" -->
    <%= f.input :end_time %> <!-- took out :class => "datetimepicker" -->
    <%= f.input :exp %> <!-- took out :class => "datetimepicker" -->
    <%= f.submit "Create", class: "btn" %>
  <% end %>
  </div>
    <div class="col-lg-3"></div>

  </div>
</div>

</div>


</body>
</html>

