<head>
	<%= stylesheet_link_tag 'base' %>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>
<h1>Create an event!</h1>
<div class="container text-center">
  <%= simple_form_for @event do |f| %>
    <%= f.input :name %>
    <%= f.input :desc %>
    <%= f.input :address %>
    <%= f.input :start_time %> <!-- took out :class => "datetimepicker" -->
    <%= f.input :end_time %> <!-- took out :class => "datetimepicker" -->
    <%= f.input :exp %> <!-- took out :class => "datetimepicker" -->
    <%= f.submit "Create", class: "btn" %>
  <% end %>
</div>

<!-- javascript that didn't work, are you surprised?!
<% content_for(:after_js) do %>
  <div class="container">
      <div class="row">
          <div class='col-sm-6'>
              <input type='text' class="form-control" class='datetimepicker'>
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker').datetimepicker();
              });
          </script>
      </div>
  </div>
<% end %>
-->
</body>

